@import "tailwindcss";
@plugin "@tailwindcss/typography";

@layer base {
  html,
  body,
  #root {
    @apply h-full bg-transparent;

    background-color: transparent;
  }

  html,
  body {
    @apply select-none;

    @apply font-mono antialiased text-white;

    @apply overflow-hidden;
  }

  header {
    -webkit-app-region: drag;
  }

  button {
    -webkit-app-region: no-drag;
  }

  ::-webkit-scrollbar {
    @apply w-2;

  }

  ::-webkit-scrollbar-thumb {
    @apply bg-[#555] rounded-md;
  }

  ::-webkit-scrollbar-track {
    @apply bg-transparent;
  }
}